.vs/*
.vscode/*
.idea/*

**/bin/*
**/obj/*
**/artifacts/**

Emuera/Properties/PublishProfiles/*.pubxml.user
Emuera/Properties/launchSettings.json
Emuera/Emuera.csproj.user

*.diff
*.patch
*.user
*.suo

# Xamarin project (develop-skiasharp 上不保留)
Emuera.Xamarin/

